{% extends 'booksystem/base.html' %}
{% block login_display %}
    <a href="#">Добро пожаловать admin 先生/女士</a> <!--用#就不会跳转了-->
{% endblock %}


{% block content %}

    <div class="container-fluid col-sm-12" style="margin-top: 20px">
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel panel-heading">
                    Еженедельный доход
                </div>
                <div>
                    <table class="table table-bordered table-striped">
                        <thead>
                        <th style="text-align: center">Нумерация</th>
                        <th style="text-align: center">Неделю</th>
                        <th style="text-align: center">Номер рейса</th>
                        <th style="text-align: center">доход</th>
                        </thead>
                        <tbody align="center">
                        {% for income in week_incomes %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ income.metric }}</td>
                                <td>{{ income.flight_sum }}</td>
                                <td>{{ income.income }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel panel-heading">
                    Ежемесячный доход
                </div>
                <div>
                    <table class="table table-bordered table-striped">
                        <thead>
                        <th style="text-align: center">Нумерация</th>
                        <th style="text-align: center">месяц</th>
                        <th style="text-align: center">Номер рейса</th>
                        <th style="text-align: center">доход</th>
                        </thead>
                        <tbody align="center">
                        {% for income in month_incomes %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ income.metric }}</td>
                                <td>{{ income.flight_sum }}</td>
                                <td>{{ income.income }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel panel-heading">
                    Годовой доход
                </div>
                <div>
                    <table class="table table-bordered table-striped">
                        <thead>
                        <th style="text-align: center">Нумерация</th>
                        <th style="text-align: center">лет</th>
                        <th style="text-align: center">Номер рейса</th>
                        <th style="text-align: center">доход</th>
                        </thead>
                        <tbody align="center">
                        {% for income in year_incomes %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ income.metric }}</td>
                                <td>{{ income.flight_sum }}</td>
                                <td>{{ income.income }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        <div class="book_orders" style="margin-left: 20px;margin-right: 20px">
            <div class="col-sm-12" style="background-color: white">
                <h1>Список заказов</h1>
                <div>
                    <table class="table table-bordered table-striped">
                        <thead>
                        <th style="text-align: center">Нумерация</th>
                        <th style="text-align: center">Путешественница</th>
                        <th style="text-align: center">рейс</th>
                        <th style="text-align: center">маршрут</th>
                        <th style="text-align: center">время отправления</th>
                        <th style="text-align: center">Билеты на самолет</th>
                        </thead>
                        <tbody align="center">
                        {% for order in order_set %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ order.passenger_name }}</td>
                                <td>{{ order.flight_name }}</td>
                                <td>{{ order.flight_route }}</td>
                                <td>{{ order.flight_ltime }}</td>
                                <td>{{ order.flight_price }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}